.full-width-table {
    width: 100%;
}

.app-table {
    width: 20%;
    margin: 20px auto;
}

table {
    width: auto;
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serifà;
}

th {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

select {
    width: 20%;
    align-items: center;
}

div {
    text-align: center;
}

pagination-controls {
    text-align: center;
}

table .btn {
    margin: 2px;
}

h1{
    text-align: center;
    color: rgba(0, 0, 255, 0.623);
}
