
<h1>Ciao sono la tabella</h1>


<div>
    <!-- <app-button [button]="logoutButton" (click)="logout(logoutUsr)"></app-button> -->
</div>

<br><br>
<table class="table table-striped table-primary table-sm center" align="center">
    <thead class="testa">
        <tr>
            <th *ngFor="let column of tables.headers">
                <mat-icon class='material-icons' (click)="sort(column.key)"> {{icon}} </mat-icon>
                {{column.label}}
            </th>
            <!-- <td>
                <app-button [button]="addElement" (click)="aggiunta(addComp, $event)"></app-button>
            </td> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let row of tables.data ">
            <td *ngFor="let column of tables.headers ">
                {{row[column.key]}}
            </td>
            <td *ngFor="let operazioniSuRiga of gestRighe">
                <app-button [button]="operazioniSuRiga" (click)="opSuRiga(operazioniSuRiga, row, editButton)">
                </app-button>
            </td>
        </tr>
    </tbody>
</table>

<br><br>
<!-- <div>
    Quantità Elementi Per Pagina: <select [(ngModel)]="perPage">
        <option *ngFor="let itemPerPage of tables.pagination.itemPerPageOptions">
            {{itemPerPage}}
        </option>
    </select>
    <br><br> Pagina: <input [(ngModel)]="selectedPage" type="number" value="{{selectedPage}}">
</div> -->
<br><br><br><br><br>